[submodule "jira-ib"]
	path = jira-ib
	url = https://repo1.dso.mil/dsop/atlassian/jira-data-center/jira.git
[submodule "jira-lts-ib"]
	path = jira-lts-ib
	url = https://repo1.dso.mil/dsop/atlassian/jira-data-center/jira-lts.git
